* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

#calculator {
  margin-top: 3vw;
  width: 25vw;
  height: 90vh;
  background-color: hsl(0, 0%, 20%);
  border-radius: 15px;
}

#display {
  width: 90%;
  height: 15%;
  border-radius: 15px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  text-align: right;
  font-size: 6vw;
  margin-top: 6%;
  padding-top: 20px;
  margin-left: 6%;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  padding: 10%;
  border: none;
  height: 70%;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 50%);
  font-size: 3vw;
  color: white;
}

button:hover {
  background-color: hsl(0, 0%, 80%);
}

button:active {
  background-color: hsl(0, 0%, 100%);
}

.oprator {
  background-color: hsl(28, 95%, 60%);
}

.oprator:hover {
  background-color: hsl(28, 95%, 70%);
}

.oprator:active {
  background-color: hsl(28, 95%, 90%);
}

@media only screen and (max-width: 480px) {
  #calculator {
    width: 95vw;
  }
  button {
    font-size: 15vw;
  }
}
